{
  "env": {
    "browser": true,
    "jasmine": true
  },
  "parser": "babel-eslint",
  "rules": {
    "strict": 0,
    "quotes": [2, "single"],
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/react-in-jsx-scope": 2,
    "no-var": 2,
    "max-len": [2, 80],
    "semi": 2
  },
  "plugins": [
    "react"
  ],
  "ecmaFeatures": {
    "jsx": true
  }
}
